*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    background: url()  center;
    text-align: center;
    height: 130px;
    background-color: #1D1616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_text {
    font-size:30px;
    color: #EEEEEE;
    text-decoration: none;

}
.my_logo{
    position: absolute;
    left:5%;
}
.nav-link {
    background-color: #d84040;
    border-style: solid;
    padding: 30px 0;
    border-color: #d84040;
}
.nav-link ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
    margin-left: 2%;
}
.nav-link li {
    display: inline;
}
.nav-link li:hover{
    transform: scale(1.05);
    color: #ffffff;
}
.nav-link a {
    text-decoration: none;
    color:#01fcfd;
    font-size: 16px;
    padding: 10px 20px;
}
.whole_container {
    display: flex;
    width: 100%;
    background-color: #8e1616;
}
.aboutme_bar {
    width: 30%;
    background-color: #d84040;
    margin: 2%;
    padding: 1%;
    border-radius: 3%;
}
.aboutme_bar:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.my_pic img{
    border-radius: 5%;
    width: 100%;
    
}
.PROJECT_bar {
    width: 70%;
    background-color:#d84040;
    padding: 2%;  
    border-radius: 2%;
    margin: 2%;
}
.PROJECT_bar:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.pg {
    background: #eb8080;
    border-radius:10px;
    margin: 2%;
}
.pg1 img{
    width: 30%;
    align-items: center;
    border-radius: 10px;
    margin: 1%;
}
.ani {
    width: 96%;
    height: 36%;
    background: #eb8080;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 5%;
    
}
.ani1 img{
    width: 28%;
    margin: 2%;
    border-radius: 10px;
}
.pg1 img:hover{
    transform: scale(1.08)
}
.t0 {
    color: #EEEEEE;
}
.t1{
    color: #EEEEEE;
}
.t2{
   color: #EEEEEE; 
}
.t4{
    color: #EEEEEE;
    text-decoration:underline;
    font-size: large;
    margin:2%;
    margin-top: 1%;
}


@media screen and (max-width: 768px) {
    .whole_container {
        flex-direction: row; 
        width: 100%;
        margin: auto;
    }

    .aboutme_bar {
        width: 50%; 
    }
    

    .PROJECT_bar {
        width: 50%;
        margin-right: 3%;
    }
    .my_pic img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    }

    .pg1 img{
        width: 40%;
        margin: 4%;
    }
    .ani{
        height: 40%;
    }
    .ani1 img{
        width: 40%;
        margin: 4%;
    }
}

@media screen and (max-width: 480px) {
    .whole_container {
        flex-direction: column; 
        width: 105%;
    }
    .header{
        width: 100%;
    }

    .nav-link{
        text-align: center;
    }

    .nav-link ul {
        gap: 2px;
        justify-content: center;
        width: 100%;
    }

    .aboutme_bar, .PROJECT_bar {
        width: 90%;
        margin-left: 5%;
    }
    .header_text {
    font-size:20px;
    color: #01fcfd;
    text-decoration: underline overline;
    }
    .nav-link a {
    text-decoration: none;
    color:#01fcfd;
    font-size: 16px;
    padding: 0 10px;
    }
    .my_pic img{
    display: block;
    width: 90%;
    height: auto;
    margin: 5%;
    border-radius: 10px;
    }
    .img3 img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    }
    .img4 img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    }
}